@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  user-select: none;
  font-family: var(--vazir-font);
  scroll-behavior: smooth;
  
  
  ;
}

@layer components {
  .hover-text {
    @apply transition-all  text-gray-300 tracking-wide;
  }
  .textField__input {
    @apply w-full py-3 px-4 rounded-xl bg-gray-100 text-slate-900 border border-gray-100 outline-none duration-200 transition-all ease-in-out hover:border-slate-900 focus:outline-none focus:border-slate-900 focus:bg-white;
  }
}
